<!-- <nav>
  <a [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Index
  </a>
  <a [routerLink]=" ['./home'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Home
  </a>
  <a [routerLink]=" ['./detail'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Detail
  </a>
  <a [routerLink]=" ['./barrel'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Barrel
  </a>
  
  <a *ngIf="showDevModule" [routerLink]=" ['./dev-module'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    DevModule
  </a>
</nav>  
 -->
<nav class="topnav">
  <a [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Home
  </a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a [routerLink]=" ['./about'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    About
  </a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="responsive()">&#9776;</a>
</nav> 

<router-outlet></router-outlet>

<footer>
  <span>Angular Starter by <a [href]="twitter">@gdi2290</a></span>
  <div>
    <a [href]="url">
      <img [src]="tipe" width="25%">
    </a>
  </div>
</footer> 

